#---master---#
#Telethroid==0.0.10
PyLeaves
dnspython
#--Main----#
pyrogram 
aiofiles
tgcrypto
requests
bs4

#---database---#
pymongo[srv]
marshmallow
umongo
motor==3.1.1
pymongo==4.3.3

#---ytdl----#
youtube-search-python
youtube-search
yt-dlp==2023.2.17

#---imdb---#
git+https://github.com/cinemagoer/cinemagoer


#---others----#
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
speedtest
humanize
Pillow
psutil
NumPy
numpy<2
opencv-python-headless
wheel
ujson
wget
pytz




Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
